<template>
<div>
      <div class="content">
            <div class="container-fluid">
                
<h4>It Will be use All other component with reactive changed !It Will be use All other component with reactive changed !It Will be use All other component with reactive changed !It Will be use All other component with reactive changed !</h4>    
                store state counter is :  {{counter}}
                <div>
                   <com-a></com-a>
                    <com-b></com-b>  
                </div>
                <div>
                    <com-c></com-c>
                </div>
                <Button type="info" @click="changeCounter" >Change Counter </Button>
                    </div>
            </div>
    </div>
</template>

<script lang="ts">

import comA from './comA.vue'
import ComB from './comB.vue'
import ComC from './comC.vue'
import {mapGetters} from 'vuex'

export default {
    data(){
        return {

        }
    },

    computed:{
   ...mapGetters({
       'counter':'getCounter'
       })
    },

    methods:{
   changeCounter(){
        this.$store.dispatch('changeStoreAction',1);
       //this.$store.commit('changeTheCounter',1);
   },
   changingCountedhappening(){
       console.log('happen changing !!!')
   }
    },
    
components:{
    comA,
    ComB,
    ComC,
},
watch:{
 counter(val){
     console.log('Counter changing is :',val)
     this.changingCountedhappening()
 }
}

}
</script>