<template>
    <div>
   <!-- Begin Delete Category Modal -->
     <Modal :value="getDeleteModal.showDeleteModel" width="360" :closable="false" :mask-closable="false" >
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="ios-information-circle"></Icon>
            <span>Delete confirmation</span>
        </p>
        <div style="text-align:center">
    
            <p>Are you sure Delete this tag ?</p>
        </div>
        <div slot="footer">
            <Button type="default" size="default"  @click="CloseCategory()">Close</Button>
            <Button type="error" size="default"  :loading="modal_loading" @click="deleteTag()">Delete</Button>
        </div>
    </Modal>
  <!-- End Delete Category Modal -->


    </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex'

export default{
    data(){
        return{
      modal_loading:false
        }
    },
    methods:{
    async deleteTag(){
                this.$set(this.getDeleteModal.data,'modal_loading',true)
                    const dtm = await this.callApi('post',this.getDeleteModal.deleteUrl,this.getDeleteModal.data)
                if(dtm.status==200){
                    this.s("Tag Deleted Successfully !")
                   this.$store.commit('setDeleteModal',true)
                //    this.getDeleteModal.isDelete = true
                   
                }
                else{
                    this.swr()
                    }
                },
        CloseCategory(){
             this.$store.commit('setDeleteModal',false);
        }
        },
  computed:{
      ...mapGetters(['getDeleteModal'])
  }

}
</script>