<template>
    <div>
        <h4>Learn Hooks tutorials</h4>
        <p ref="myref">Name : {{name}}</p>
    </div>
</template>
<script lang="ts">

export default {
       mounted(){
    console.log(this.$refs.myref)
    },
    data(){
     return {
          name:'Utkir'
     }
    },
    created(){
    console.log(this.name);
    },
 
}
</script>