<template>
    <div>
        <h4>
 My counter : {{count}}

        </h4>
        <button @click="Manycountfunc(1)">Qo'sh</button>
<button @click="Manycountfunc(-1)">kamaytir</button>
<br><br>

<div v-for="(blog , i) in blogs" :key="i" >
<h3>{{ blog.title}}</h3>
<p>{{blog.text}}</p>
<p>{{blog.time}}</p>
</div>
<br><br>
<div>
<h3 v-if="mean">salom ber true </h3>
<h3 v-else>salom ber false </h3>
<button @click="mean = !mean">change showItem</button>
</div>

    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    data(){
        return {
            count:0,
            blogs : [],
            mean : false
        }
    },
    methods : {
      Manycountfunc(son){
         this.count += son ;
      }
    },
    created(){
        let dat=[
          {title:"1 - Kelajakda Dasturlash qanday Yuxksaladi ",text:"1 - Har ne bolishi mumkin",time:"12:22"},
          {title:"2 - Kelajakda Dasturlash qanday Yuxksaladi ",text:"2 - Har ne bolishi mumkin",time:"28:22"},
          {title:"3 - Kelajakda Dasturlash qanday Yuxksaladi ",text:"3 - Har ne bolishi mumkin",time:"13:22"},
          {title:"4 - Kelajakda Dasturlash qanday Yuxksaladi ",text:"4 - Har ne bolishi mumkin",time:"14:22"}
        ]
        this.blogs=dat;
    }
})
</script>
