<template>
    <div id="app">

    <div v-if="$store.state.user">
      <!--========== ADMIN SIDE MENU one ========-->
      <div class="_1side_menu" >
        <div class="_1side_menu_logo">
          <h3 style="text-align:center;">Logo Image</h3>
          <!--<img src="/img/logo.jpg" style="width: 108px;margin-left: 68px;"/>-->
        </div>

        <!--~~~~~~~~ MENU CONTENT ~~~~~~~~-->
        <div class="_1side_menu_content">
          <div class="_1side_menu_img_name">
            <!-- <img class="_1side_menu_img" src="/pic.png" alt="" title=""> -->
            <p class="_1side_menu_name">Admin</p>
          </div>

          <!--~~~ MENU LIST ~~~~~~-->
          <div class="_1side_menu_list">
            <ul class="_1side_menu_list_ul">
            <li v-for="(per , i) in permission" :key="i" v-if="permission.length && per.read">
               <router-link :to="per.name"><Icon type="ios-speedometer" />{{per.resourceName}}</router-link>
            </li>
              <!-- <li><router-link to="/tags"><Icon type="ios-speedometer" /> Tags </router-link></li>
                 <li><router-link to="/category"><Icon type="ios-speedometer" /> Category </router-link></li>
                 <li><router-link to="/adminusers"><Icon type="ios-speedometer" /> Admin Users </router-link></li>
                 <li><router-link to="/role"><Icon type="ios-speedometer" /> Role Managment </router-link></li>
                 <li><router-link to="/assignRole"><Icon type="ios-speedometer" /> Assign role </router-link></li>
                 -->
                  <li><a href="/logouts"><Icon type="ios-speedometer" /> Logout </a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--========== ADMIN SIDE MENU ========-->

      <!--========= HEADER ==========-->
      <div class="header">
        <div class="_2menu _box_shadow">
          <div class="_2menu_logo">
            <ul class="open_button">
              <li>
                <Icon type="ios-list" />
              </li>
              <!--<li><Icon type="ios-albums" /></li>-->
            </ul>
          </div>
        </div>
      </div>
      <!--========= HEADER ==========-->
    </div>

    </div>
</template>
<script>
export default {
  props:['user','permission'],
  data(){
    return {
     
        //  user:false
    }
  },
  created(){
    this.$store.commit('updateUsetr',this.user);
    // this.isLogged=this.user
    this.$store.commit('userPermission',this.permission);
  }
  
}
</script>