<template>
    <div class="content">
        <h1>Counter : {{ count }}</h1>

      <div>
          <VuexA></VuexA>
      </div>
         <div>
             <VuexB></VuexB>
         </div>
         <div>
             <VuexC></VuexC>
         </div>
<button class="btn btn-primary" @click="incriseStore(1)">+</button><button class="btn btn-primary" @click="incriseStore(-1)">-</button>
    </div>
</template>

<script>

import VuexA from './vuexA'
import VuexB from './vuexB'
import VuexC from './vuexC'
import {mapGetters} from 'vuex'

export default {
  data(){
        return {
            counter:1111
        }
    },
 computed:{
  ...mapGetters({'count':'getCounter'})
 },

 methods:{
    incriseStore(amount){
  //  this.$store.commit('changeCounter',amount);
  this.$store.dispatch('incriseConter',amount);
    },

    watchFunc(){
        console.log("salom Dunyo");
    }
        },

    components:{
    VuexA,
    VuexB,
    VuexC
    },
    watch:{
        count(value){
        console.log(value);
         this.watchFunc();
        },
       
      counter: function(val){
            console.log(val);
        }
    }
    
}
</script>