
<template>
    <div>
        <div class="content">
            <div class="container">
               <div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Admins <Button  v-if="isWritePermitted" @click="openeEditModal()"><Icon type="ios-add" size="large" /> Add Admins</Button></p>

					<div class="_overflow _table_div">
						<table class="_table">
	<!-- TABLE TITLE -->
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Email</th>
								<th>UserType</th>
								<th>Created at</th>
								<th>Action</th>
							</tr>

	<!-- ITEMS -->
							<tr v-for="(user,i) in users" :key="i">
                              
								<td>{{user.id}}</td>
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>
								<td>{{user.userType}}</td>
								<td>{{user.created_at}}</td>
								<td>
									<Button type="info" v-if="isUpdatePermitted" size="small" @click="editUsers(user,i)">Edit</Button>
									<Button type="error" v-if="isDeletePermitted" size="small" @click="showDeletingModal(user,i)" :loading="user.isDeleting">Delete</Button>
								</td>

							</tr>
					   </table>
	 <!-- End ITEMS -->
				</div>
			</div>
     <!-- Begin Add tag Modal -->
		<Modal
			v-model="addModal"
			title="Add User"
				:mask-closable="false"
					:closable="false"
						>
                        <div class="mb-3">
							<Input v-model="data.name" ref="input" placeholder="Name..."/>
                        </div>
                        <div class="mb-3">
							<Input v-model="data.email" ref="input" placeholder="Email ... "/>
                        </div>
                         <div class="mb-3">
							<Input v-model="data.password" ref="input" placeholder="Password ... "/>
                        
                        </div>  <div class="mb-3">
					<Select v-model="data.role_id"  placeholder="Select User type...">
                        <Option v-for="(role,j) in roles" :key="j"  :value="role.id"> {{ role.roleName }}</Option>
                    </Select>
                        </div>

                    

								<div slot="footer">
					<Button type="default" @click="addModal=false">Close</Button>
				<Button type="primary" @click="addAdmin" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add Admin'}}</Button>
			</div>
		</Modal>
   <!-- And Add tag Modal -->

   <!-- Begin Edit tag Modal -->
		<Modal
			v-model="editModal"
			title="Edit User"
				:mask-closable="false"
					:closable="false"
						>
                     <div class="mb-3">
							<Input v-model="editData.name" ref="input" placeholder="Name..."/>
                        </div>
                        <div class="mb-3">
							<Input v-model="editData.email" ref="input" placeholder="Email ... "/>
                        </div>
                         <div class="mb-3">
							<Input v-model="editData.password" ref="input" placeholder="Password ... "/>
                        
                        </div> 
                         <div class="mb-3">
					<Select v-model="editData.roleName"  placeholder="Select User type">
                        <Option  value="Admin"> Admin</Option>
                        <Option  value="Editor"> Editor</Option>
                    </Select>
                         </div>
								<div slot="footer">
					<Button type="default" @click="editModal=false">Close</Button>
				<Button type="primary" @click="editUser" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit User'}}</Button>
			</div>
		</Modal>
   <!-- And Edit tag Modal -->

   <!-- Begin Delete tag Modal -->
     <!-- <Modal v-model="showDeleteModal" width="360">
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="ios-information-circle"></Icon>
            <span>Delete confirmation</span>
        </p>
        <div style="text-align:center">
    
            <p>Are you sure Delete this tag ?</p>
        </div>
        <div slot="footer">
            <Button type="error" size="large" long :loading="modal_loading" @click="deleteTag()">Delete</Button>
        </div>
    </Modal> -->
  <!-- End Delete tag Modal -->
<delModel></delModel>
   	 </div>
    		</div>	
					</div>	
</template>

<script >
import delModel from '../components/deleteModel'
import { mapGetters } from 'vuex'
export default {
  data(){
  return {
				data:{
				        name:'',
                        email:'',
                        password:'',
                        role_id:null
					 },
				addModal:false,
				isAdding:false,
				users : [],
				roles : [],
				editModal:false,
				modal_loading:false,
				editData:{},
				index: -1,
			
			
   		}
  	},
	components:{
			delModel
		},
	computed:{
        ...mapGetters(['getDeleteModal'])
	},
	watch:{
		getDeleteModal(val){
			if(val.isDelete){
				this.tags.splice(val.is,1);
			}
		}
	},
methods : {

	openeEditModal(){	
        this.$refs.input.focus({
            preventScroll: true
        }),
        this.addModal=true
	},
	async addAdmin(){
		if(this.data.name.trim()=='') return this.e("FullName name is required ");
		if(this.data.email.trim()=='') return this.e("Email name is required ");
		if(this.data.password.trim()=='') return this.e("Pasword name is required ");
		if(!this.data.role_id) return this.e("User Type name is required ");
				const res = await this.callApi('post', '/app/created_adminUser', this.data)
		if(res.status===201){
				this.s('Admin User has been added successfully!'),
				this.addModal=false,
				// console.log(res.data),
				this.users.unshift(res.data),
				this.data={}

		}
		else{
			if(res.data.errors) {
                for(let i in res.data.errors){
                    this.e(res.data.errors[i][0]);
                }
            }
				// console.log(res.data.errors.tagName[0])
				
			}
				},
	
	async editUser(){
            if(this.editData.name.trim()=='') return this.e("FullName name is required ");
            if(this.editData.email.trim()=='') return this.e("Email name is required ");
            // if(this.editData.password.trim()=='') return this.e("Pasword name is required ");
            if(this.editData.userType.trim()=='') return this.e("User Type name is required ");
					const ret = await this.callApi('post', '/app/edit_userAdmin', this.editData)
			if(ret.status===200){
                console.log(ret.data)
				    this.users[this.index] = this.editData,
					this.s('Tag has been edited successfully!'),
					this.editModal=false,
					this.isAdding=false
			}
			else{
				if(ret.data.errors) 
					//console.log(res.editData.errors.email[0])
						for(let j in ret.data.errors){
                            this.e(ret.data.errors[j][0])
                        }
				}
					},
	editUsers(dt,inx){
		   this.$refs.input.focus({cursor:'start'})
	    const obj = {
			  id : dt.id,
			  name: dt.name,
              email:dt.email,
              password:'',
              userType:dt.userType
			}

		   this.editData = obj ;
		   this.editModal = true,
		   this.index=inx
					},

	 showDeletingModal(tag,i){
	const dat={
				showDeleteModel:true,
				data:tag,
				is:i,
				deleteUrl:'app/delete_Tag',
				isDelete:false
			}
		this.$store.commit('deleteModalCategory',dat)
		    //  this.deleteItem=tag,
			//  this.is=i,
			//  this.showDeleteModal=true
	 			},
    async deleteTag(){
		  	this.$set(this.deleteItem,'isDeleting',true)
				const dtm = await this.callApi('post','app/delete_Tag',this.deleteItem)
			if(dtm.status==200){
				this.tags.splice(this.is,1)
				this.s("Tag Deleted Successfully !")
				this.showDeleteModal=false
			}
			else{
				this.swr()
			}
			}
			 },
	 
	async created(){
		const [res,resRoles] = await Promise.all([
			this.callApi('get','app/get_UserAdmin',''),
		    this.callApi('get','app/get_Roles','')
		])
			if(res.status==200)
				{
					this.users= res.data
				}
			else
				{
					this.swr()
				}
				if(resRoles.status==200)
				{
					this.roles= resRoles.data
				}
			else
				{
					this.swr()
				}
			}
			
		}

</script>