
<template>
    <div>
        <div class="content">
            <div class="container">
               <div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Admins
				
					<Select style="width:300px;" v-model="data.role_id"  placeholder="Select User type..." @on-change="changeRoles()" >
                        <Option v-for="(role,j) in roles" :key="j"  :value="role.id"> {{ role.roleName }}</Option>
                    </Select>
                       
						 </p>
				
					<div class="_overflow _table_div">
						<table class="_table">
	<!-- TABLE TITLE -->
							<tr>
								<th>Role Resource</th>
								<th>Read</th>
								<th>Write</th>
								<th>Update</th>
								<th>Delete</th>	
							</tr>

	<!-- ITEMS -->
							<tr v-for="(ro,i) in resource" :key="i" >
                              
								<td>{{ro.resourceName}} </td>
								<td><Checkbox v-model="ro.read"></Checkbox></td>
								<td><Checkbox v-model="ro.write"></Checkbox></td>
								<td><Checkbox v-model="ro.edit"></Checkbox></td>
								<td><Checkbox v-model="ro.delete"></Checkbox></td>
							
							</tr>
					   </table>
	 <!-- End ITEMS -->

	 <Button type="primary" class="assign_button" :loading="isSended" :disabled="isSended" @click="assignRoles">Assign</Button>
				</div>
			</div>


   	 </div>
    		</div>	
					</div>	
</template>

<script >

export default {
	props:['permission'],
  data(){
  return {
				data:{
						roleName:'',
                        role_id:null
					 },
			 isSended:false,
			 roles:[],
			resource:[
				{resourceName:'Home',read:false,write:false,edit:false,delete:false, name:'/'},
				{resourceName:'Tags',read:true,write:false,edit:false,delete:false, name:'tags'},
				{resourceName:'Category',read:false,write:false,edit:false,delete:false, name:'category'},
				{resourceName:'Create blog',read:false,write:false,edit:false,delete:false, name:'createBlog'},
				{resourceName:'Role',read:false,write:false,edit:false,delete:false, name:'role'},
				{resourceName:'Assign Role',read:false,write:false,edit:false,delete:false, name:'assignRole'},
				{resourceName:'Admin users',read:false,write:false,edit:false,delete:false, name:'adminusers'},
			],
			defauoltResource:[
				{resourceName:'Home',read:false,write:false,edit:false,delete:false, name:'/'},
				{resourceName:'Tags',read:true,write:false,edit:false,delete:false, name:'tags'},
				{resourceName:'Category',read:false,write:false,edit:false,delete:false, name:'category'},
				{resourceName:'Create blog',read:false,write:false,edit:false,delete:false, name:'createBlog'},
				{resourceName:'Role',read:false,write:false,edit:false,delete:false, name:'role'},
				{resourceName:'Assign Role',read:false,write:false,edit:false,delete:false, name:'assignRole'},
				{resourceName:'Admin users',read:false,write:false,edit:false,delete:false, name:'adminusers'},
			]
					
   		}
  	},

methods : {
	async assignRoles(){
		console.log(this.resource);
		const data = JSON.stringify(this.resource)
		console.log(data);
		const res = await this.callApi('post','/app/assign_Role',{permission:data, role_id:this.data.role_id})
		if(res.status==200){
			this.s('Role has assigned successfully!')
			const id = this.roles.findIndex(role=>role.id == this.data.role_id)
			this.roles[id].permission = data

		}
		else{
			this.swr();
		}
	},
	changeRoles(){
    //   console.log(this.data.role_id);
	const id = this.roles.findIndex(role=>role.id == this.data.role_id)
	    if(!this.roles[id].permission){
			this.resource = this.defauoltResource
		}else{
			this.resource = JSON.parse(this.roles[id].permission)
		}
	}
			 },
	 
	async created(){
	const resRoles = await this.callApi('get','app/get_Roles','')
	
				if(resRoles.status==200)
				{
					this.roles = resRoles.data
					if(resRoles.data.length){
						this.data.role_id = resRoles.data[2].id
					}
					if(resRoles.data[2].permission != null){
						// console.log(resRoles.data[2].permission);
						this.resource = JSON.parse(resRoles.data[2].permission);
					}
				}
			else
				{
					this.swr()
				}
			}
			
		}

</script>