<template>
    <div>
        <div class="content">
            <div class="container">
               <div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Tags <Button @click="addModal=true" v-if="isWritePermitted" ><Icon type="ios-add" size="large" /> Add Category</Button></p>

					<div class="_overflow _table_div">
						<table class="_table">
	<!-- TABLE TITLE -->
							<tr>
								<th>ID</th>
                                <th>Icon image</th>
								<th>Category name</th>
								<th>Ctreated at</th>
								<th>Action</th>
							</tr>

	<!-- ITEMS -->
							<tr v-for="(tag,i) in tags" :key="i">
                              
								<td>{{tag.id}}</td>
								<td >
                                    <img style="height:40px; width:40px" :src="`/upload/${tag.iconImage}`">
                                </td>
								<td class="_table_name">{{tag.categoryName}}</td>
								<td>{{tag.created_at}}</td>
								<td>
									<Button v-if="isUpdatePermitted" type="info" size="small" @click="showEditModal(tag,i)">Edit</Button>
									<Button v-if="isDeletePermitted" type="error" size="small" @click="showDeletingModal(tag,i)" :loading="$store.state.isDelete">Delete</Button>
								</td>

							</tr>
					   </table>
	 <!-- End ITEMS -->
				</div>
			</div>
     <!-- Begin Add Category Modal -->
		<Modal
			v-model="addModal"
			title="Add Category"
				:mask-closable="false"
					:closable="false"
						>
			<Input v-model="data.categoryName" placeholder="Add Category name ... "/>
                   <br><br>
                        <Upload
                          ref="upload"
                             :headers="{'x-csrf_token':token,'X-Requested-With':'XMLHttpRequest'}"
                               :on-success="handleSuccess"
                                :max-size="2048"
                                :on-error="handleError"
                                :on-exceeded-size="handleMaxSize"
                                type="drag"
                                 action="/app/upload">
                                     <div style="padding: 20px 0">
                                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                                <p>Click or drag files here to upload</p>
                            </div>
                       </Upload>
                            <div class="demo-upload-list" v-if="data.iconImage">
                                <template >
                                    <img :src="`/upload/${data.iconImage}`">
                                    <div class="demo-upload-list-cover">
                                        <Icon type="ios-trash-outline" @click.native="handleRemove(data.iconImage,isedit=true)"></Icon>
                                    </div>
                                </template>
                            </div>
								<div slot="footer">
					<Button type="default" @click="addModal=false">Close</Button>
				<Button type="primary" @click="addCategory" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add Category'}}</Button>
			</div>
		</Modal>
   <!-- And Add Category Modal -->

   <!-- Begin Edit Category Modal -->
		<Modal
			v-model="editModal"
			title="Edit Category"
				:mask-closable="false"
					:closable="false"
						>
							<Input v-model="editData.categoryName" placeholder="Edit Category name ... "/>
                            <br><br>
                    <Upload v-if="!editData.iconImage"
                        ref="uploade"
                             :headers="{'x-csrf_token':token,'X-Requested-With':'XMLHttpRequest'}"
                               :on-success="handleSuccess"
                                :max-size="2048"
                                :on-error="handleError"
                                :on-exceeded-size="handleMaxSize"
                                type="drag"
                                 action="/app/upload">
                                     <div style="padding: 20px 0">
                                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                                <p>Click or drag files here to upload</p>
                            </div>
                        </Upload>
                            <div class="demo-upload-list" v-if="editData.iconImage">
                                <template >
                                    <img :src="`/upload/${editData.iconImage}`">
                                    <div class="demo-upload-list-cover">
                                        <Icon type="ios-trash-outline" @click.native="handleRemove(editData.iconImage,isedit=false)"></Icon>
                                    </div>
                                </template>
                            </div>

								<div slot="footer">
					<Button type="default" @click="closeEditModal">Close</Button>
				<Button type="primary" @click="editCategory" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit Category'}}</Button>
			</div>
		</Modal>
        <deleteModal></deleteModal>
   <!-- And Edit Category Modal -->

   <!-- Begin Delete Category Modal -->
     <!-- <Modal v-model="showDeleteModal" width="360">
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="ios-information-circle"></Icon>
            <span>Delete confirmation</span>
        </p>
        <div style="text-align:center">
    
            <p>Are you sure Delete this tag ?</p>
        </div>
        <div slot="footer">
            <Button type="error" size="large" long :loading="modal_loading" @click="deleteTag()">Delete</Button>
        </div>
    </Modal> -->
  <!-- End Delete Category Modal -->

   	 </div>
    		</div>	
					</div>	
</template>

<script >
import deleteModal from '../components/deleteModel'
import { mapGetters } from  'vuex'
export default {
  data(){
  return {
				data:{
                        categoryName:'',
                        iconImage:''
					 },
				addModal:false,
				isAdding:false,
				tags : [],
				editModal:false,
				
				editData:{
                    iconImage:'',
                    categoryName:''
				},
				index: -1,
				showDeleteModal:false,
				deleteItem:'',
                is:-1,
                token : '',
                isedit:false,
                isEditingItem:false
   		}
  	},
components:{
  deleteModal,
},


computed:{
   ...mapGetters(['getDeleteModal'])
},

watch:{
    getDeleteModal(obj){
        console.log(obj);
        if(obj.isDelete){
            console.log('sasjd',obj.is);
           this.tags.splice(obj.is,1);
        }
    }
},

methods : {
	async addCategory(){
        if(this.data.categoryName.trim()=='') return  this.e("Category name is required ")
		if(this.data.iconImage.trim()=='') return  this.e("Icon image name is required ")
				const res = await this.callApi('post', '/app/created_category', this.data)
		if(res.status===201){
				this.s('Category has been added successfully!'),
				this.addModal=false,
				console.log(res.data),
				this.tags.unshift(res.data),
                this.data.categoryName="",
                this.data.iconImage="",
               this.$refs.upload.clearFiles()
		}
		else{
            if(res.data.errors) this.e(res.data.errors.categoryName[0])
            
			}
				},
	
	async editCategory(){
			if(this.editData.categoryName.trim()=='') return  this.e("Category name is required ")
			if(this.editData.iconImage.trim()=='') return  this.e("Icon image is required ")
					const ret = await this.callApi('post', '/app/edit_category', this.editData)
			if(ret.status===200){
                    this.tags[this.index].categoryName = this.editData.categoryName,
                    this.tags[this.index].iconImage = this.editData.iconImage,
					this.s('Category has been edited successfully!'),
					this.editModal=false,
                    this.isAdding=false,
                    this.isEditingItem=false
			}
			else{
				if(ret.editData.errors) this.e(res.editData.errors.tagName[0])
					console.log(res.editData.errors.tagName[0])
						
				}
					},
	showEditModal(dt,intd){
	    const obj = {
			  'id' : dt.id,
              'categoryName' : dt.categoryName,
              'iconImage' : dt.iconImage
			}
		   this.editData = obj ;
		   this.editModal = true,
		   this.index=intd
					},

	 showDeletingModal(tag,i){
         const  DeleteModalObj={
        showDeleteModel:true,
        data:tag,
        is:i,
        deleteUrl:'app/delete_category',
        isDelete:false
       }


         this.$store.commit('deleteModalCategory',DeleteModalObj);
		    //  this.deleteItem=tag,
			//  this.is=i,
			//  this.showDeleteModal=true
	 			},
   
     handleSuccess (res, file) {
         if(!this.isEditingItem)
              this.data.iconImage = res ;
              else this.editData.iconImage = res
            },
   
     handleMaxSize (file) {
                this.$Notice.warning({
                    title: 'Exceeding file size limit',
                    desc: 'File  ' + file.name + ' is too large, no more than 2M.'
                });
            },               
       
     handleError (res, file){
         console.log(res)
         console.log(file.errors.file.length)
              this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: (file.errors.file.length ) ? file.errors.file[0] : 'Something went Wrong !'
                });
        },
     closeEditModal(){
            this.editModal=false,
            this.isEditingItem=false
        },

     async handleRemove(img,isy){
         if(isy){
             this.$refs.upload.clearFiles()
             this.data.iconImage=''
         }else{
             this.editData.iconImage='',
             this.isEditingItem=true
         }
          const res = await this.callApi('post','app/delete_img',{imgName:img})
          if(res.status!==200){
          this.data.iconImage = img
          this.swr()
        }
     }
			 },
	 
	async created(){
        this.token = window.Laravel.csrfToken
		const res= await this.callApi('get','app/get_Category','');
			if(res.status==200)
				{
                    console.log(res);
					this.tags= res.data
				}
			else
				{
					this.swr()
				}
			}
			
		}

</script>

<style>
    .demo-upload-list{
        display: inline-block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);
        margin-right: 4px;
    }
    .demo-upload-list img{
        width: 100%;
        height: 100%;
    }
    .demo-upload-list-cover{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.6);
    }
    .demo-upload-list:hover .demo-upload-list-cover{
        display: block;
    }
    .demo-upload-list-cover i{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin: 0 2px;
    }
</style>