<template>
    <div class="content">
            <div class="container">
               <div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
				
<div id="editorjs"></div>



               </div>
            </div>
     </div>
</template>

<script>
import EditorJS from '@editorjs/editorjs';
import Header from '@editorjs/header';
import List from '@editorjs/list';

const editor = new EditorJS({
    holderId:'editorjs',
    tools: { 
    header: {
      class: Header, 
    //   inlineToolbar: ['link'] 
    }, 
    list: { 
      class: List, 
    //   inlineToolbar: true 
    } 
    }
})

export default {
    
}
</script>