<template>
    <div>
         <div class="container">
               <div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20 col-md-4">
                   <h2 style="text-align:center;" class="mb-4">Loged In</h2>
			            <div class="mb-3">
							<Input v-model="data.email" type="text" placeholder="Email ..."/>
                        </div>
                        <div class="mb-3">
							<Input v-model="data.password" type="password" placeholder="Password ... "/>
                        </div> 
                        <div class="mb-3 mt-4 login_btn">
		                    <Button type="primary" @click="login()" :disabled="isLogged" :loading="isLogged">{{isLogged ? 'Logging...' : 'Login'}}</Button>
                        </div>
               </div>
         </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            data:{
                email:'',
                password:'',
            },
            isLogged:false
        }
    },
    methods:{
       async login(){
           this.isLogged=true
    	if(this.data.email.trim()==''){this.isLogged=false; return this.e("email is required ")};
		// if(this.data.password.trim()=='') return this.e("password is required ");
		// if(this.data.password.length < 5 ) return this.e("password length is too easy");
    const res = await this.callApi('post','/app/login_user',this.data) 
    if(res.status == 200){
        this.s(res.data.msg);
        window.location='/';
        this.isLogged=false
    }else if(res.status==401){
        this.e(res.data.msg);
        this.isLogged=false
    }else if(res.status==422){
        for(let l in res.data.errors){
            this.e(res.data.errors[l][0])
        }
        this.isLogged=false
    }else{
        this.swr();
        this.isLogged=false
    }
	
        }
    }
}
</script>
<style scoped>
._1adminOverveiw_table_recent{
    margin:0 auto;
    margin-top:140px;
}
.login_btn{
    text-align:center;
    size: 100px;
}
</style>