<template>
    <div>
        <div class="content">
            <div class="container">
               <div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Role Managment<Button v-if="isWritePermitted" @click="openeEditModal()"><Icon type="ios-add" size="large" /> Add Role</Button></p>

					<div class="_overflow _table_div">
						<table class="_table">
	<!-- TABLE TITLE -->
							<tr>
								<th>ID</th>
								<th>Role name</th>
								<th>Ctreated at</th>
								<th>Action</th>
							</tr>

	<!-- ITEMS -->
							<tr v-for="(role,i) in roles" :key="i">
                              
								<td>{{role.id}}</td>
								<td class="_table_name">{{role.roleName}}</td>
								<td>{{role.created_at}}</td>
								<td>
									<Button type="info"  v-if="isUpdatePermitted" size="small" @click="openEditModal(role,i)">Edit</Button>
									<Button type="error" v-if="isDeletePermitted" size="small" @click="showDeletingModal(role,i)" :loading="role.isDeleting">Delete</Button>
								</td>

							</tr>
					   </table>
	 <!-- End ITEMS -->
				</div>
			</div>
     <!-- Begin Add tag Modal -->
		<Modal
			v-model="addModal"
			title="Add Role"
				:mask-closable="false"
					:closable="false"
						>
							<Input v-model="data.roleName" ref="input" placeholder="Role name ... "/>
								<div slot="footer">
					<Button type="default" @click="addModal=false">Close</Button>
				<Button type="primary" @click="addRole" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add Role'}}</Button>
			</div>
		</Modal>
   <!-- And Add tag Modal -->

   <!-- Begin Edit tag Modal -->
		<Modal
			v-model="editModal"
			title="Edit Role"
				:mask-closable="false"
					:closable="false"
						>
							<Input v-model="editData.roleName" placeholder="Role tag name ... "/>
								<div slot="footer">
					<Button type="default" @click="editModal=false">Close</Button>
				<Button type="primary" @click="editRole" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit Role'}}</Button>
			</div>
		</Modal>
   <!-- And Edit tag Modal -->

   <!-- Begin Delete tag Modal -->
     <!-- <Modal v-model="showDeleteModal" width="360">
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="ios-information-circle"></Icon>
            <span>Delete confirmation</span>
        </p>
        <div style="text-align:center">
    
            <p>Are you sure Delete this tag ?</p>
        </div>
        <div slot="footer">
            <Button type="error" size="large" long :loading="modal_loading" @click="deleteTag()">Delete</Button>
        </div>
    </Modal> -->
  <!-- End Delete tag Modal -->
<delModel></delModel>
   	 </div>
    		</div>	
					</div>	
</template>

<script >
import delModel from '../components/deleteModel'
import { mapGetters } from 'vuex'
export default {
  data(){
  return {
				data:{
				        roleName:''
					 },
				addModal:false,
				isAdding:false,
				roles : [],
				editModal:false,
				modal_loading:false,
				editData:{
					tagName:''
				},
				index: -1,
			
			
   		}
  	},
	components:{
			delModel
		},
	computed:{
        ...mapGetters(['getDeleteModal'])
	},
	watch:{
		getDeleteModal(val){
			if(val.isDelete){
				this.tags.splice(val.is,1);
			}
		}
	},
methods : {
	openeEditModal(){
	
	this.$refs.input.focus({
         preventScroll: true
     }),
	 this.addModal=true
	},
	async addRole(){
		if(this.data.roleName.trim()=='') return  this.e("Role name is required ")
				const res = await this.callApi('post', '/app/created_Role', this.data)
		if(res.status===201){
				this.s('Role has been added successfully!'),
				this.addModal=false,
				console.log(res.data),
				this.roles.unshift(res.data),
				this.data.roleName=""

		}
		else{
			if(res.data.errors) this.e(res.data.errors.roleName[0])
				console.log(res.data.errors.roleName[0])
				
			}
				},
	
	async editRole(){
        console.log(this.editData.roleName);
			if(this.editData.roleName.trim()=='') return  this.e("Role name is required ")
					const ret = await this.callApi('post', '/app/edit_Role', this.editData)
			if(ret.status===200){
				    this.roles[this.index].roleName = this.editData.roleName,
					this.s('Role has been edited successfully!'),
					this.editModal=false,
					this.isAdding=false
			}
			else{
				if(ret.editData.errors) this.e(res.editData.errors.roleName[0])
					console.log(res.editData.errors.roleName[0])
						
				}
					},
	openEditModal(dt,intd){
		   this.$refs.input.focus({cursor:'start'})
	    const obj = {
			  'id' : dt.id,
			  'roleName' : dt.roleName
			}

		   this.editData = obj ;
		   this.editModal = true,
		   this.index=intd
					},

	 showDeletingModal(tag,i){
	const dat={
				showDeleteModel:true,
				data:tag,
				is:i,
				deleteUrl:'app/delete_Tag',
				isDelete:false
			}
		this.$store.commit('deleteModalCategory',dat)
		    //  this.deleteItem=tag,
			//  this.is=i,
			//  this.showDeleteModal=true
	 			},
    async deleteTag(){
		  	this.$set(this.deleteItem,'isDeleting',true)
				const dtm = await this.callApi('post','app/delete_Tag',this.deleteItem)
			if(dtm.status==200){
				this.tags.splice(this.is,1)
				this.s("Tag Deleted Successfully !")
				this.showDeleteModal=false
			}
			else{
				this.swr()
			}
			}
			 },
	 
	async created(){
		const res= await this.callApi('get','app/get_Roles','');
			if(res.status==200)
				{
					this.roles= res.data
				}
			else
				{
					this.swr()
				}
			}
			
		}

</script>